<nav>
    <div>
        <img 
            class="header-logo"
            src="/assets/images/bat-pencil-cross.svg"
            alt="Header Logo">
        <a href="#" class="header-title">Classroom Baseball</a>
    </div>

    <div id="nav-right">
        <a *ngIf="!isAuthenticated" (click)="onLogin()">Login</a>
        <a *ngIf="!isAuthenticated" (click)="onRegister()">Sign Up</a>
        <a *ngIf="isAuthenticated" (click)="onLogout()">Logout</a>
    </div>

    <div id="menu-button">
        <a (click)="toggleCollapse()">
            <span class="material-symbols-outlined">menu</span>
        </a>
    </div>
</nav>

<div *ngIf="!isCollapsed" id="menu-panel">
    <a *ngIf="!isAuthenticated" (click)="onLogin()">Login</a>
    <a *ngIf="!isAuthenticated" (click)="onRegister()">Sign Up</a>
    <a *ngIf="isAuthenticated" (click)="onLogout()">Logout</a>
</div>