<nav>
    <div>
        <img 
            class="header-logo"
            src="/assets/images/bat-pencil-cross.svg"
            alt="Header Logo">
        <a href="#" class="header-title">{{ title }}</a>
    </div>

    <div id="nav-right">
        <a *ngFor="let link of links" (click)="onLinkClick(link)" [innerHTML]="link.labelHtml"></a>
    </div>

    <div id="menu-button">
        <a (click)="toggleCollapse()">
            <span class="material-symbols-outlined">menu</span>
        </a>
    </div>
</nav>

<div *ngIf="!isCollapsed" id="menu-panel">
    <a *ngFor="let link of links" (click)="onLinkClick(link)" [innerHTML]="link.labelHtml"></a>
</div>