<nav>
    <div>
        <a href="#">
            <img 
                class="header-logo"
                src="/assets/images/cb-small-logo-blue.svg"
                alt="Header Logo">
        </a>
        <a id="header-title">{{ title }}</a>
    </div>

    <div *ngIf="navLinks.length > 0" id="nav-links">
        <a 
            *ngFor="let link of navLinks" 
            class="nav-link"
            (click)="onLinkClick(link)" 
            [innerHTML]="link.labelHtml"></a>
    </div>

    <div *ngIf="menuLinks.length > 0" id="menu-button">
        <a (click)="toggleCollapse()">
            <span class="material-symbols-outlined">menu</span>
        </a>
    </div>
</nav>

<div *ngIf="!isMenuCollapsed" id="menu-panel">
    <a 
        *ngFor="let link of menuLinks" 
        (click)="onLinkClick(link)" 
        [innerHTML]="link.labelHtml"></a>
</div>