<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<form *ngIf="!isLoading" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="form-group">
        <input
            class="form-control form-text-input"
            placeholder="Enter email"
            ngModel
            type="email"
            id="email"
            name="email"
            email
            required
        >
        <input
            class="form-control form-text-input"
            placeholder="Enter password"
            ngModel
            type="password"
            id="password"
            name="password"
            required
            minlength="6"
        >
        <input
            class="form-control form-text-input"
            placeholder="Re-enter password"
            ngModel
            type="password"
            id="checkPassword"
            name="checkPassword"
            required
            minlength="6"
        >
        <div *ngIf="errorMessage" class="message-box">
            <span class="material-symbols-outlined">error</span>
            {{ errorMessage }}
        </div>
        <button class="form-button" type="submit" [disabled]="!registerForm.valid">Let's go!</button>
    </div>
</form>