<div id="control-grid">
    <div class="player-control" *ngFor="let scorecard of scorecards; let i = index">
        <div class="player-name">{{ scorecard.player.name.substring(0, 12) }}</div>
        <app-player-avatar [name]="scorecard.player.name" [color]="scorecard.player.color" [heightPx]="40"></app-player-avatar>
        <div class="player-score">
            <div class="player-bases">
                <img 
                    class="base-logo"
                    (click)="updateScorecard(scorecard, scorecard.bases + 1, scorecard.strikes)"
                    src="/assets/images/ball-icon.svg" 
                    alt="Base logo">
                <div 
                    class="base-count"
                    (click)="updateScorecard(scorecard, scorecard.bases - 1, scorecard.strikes)">
                    {{ scorecard.bases }}
                </div>
            </div>
            <div class="player-strikes">
                <img 
                    class="strike-logo"
                    (click)="updateScorecard(scorecard, scorecard.bases, scorecard.strikes + 1)"
                    src="/assets/images/strike-icon.svg" 
                    alt="Strike logo">
                <div 
                    class="strike-count"
                    (click)="updateScorecard(scorecard, scorecard.bases, scorecard.strikes - 1)">
                    {{ scorecard.strikes }}
                </div>
            </div>
        </div>
    </div>
    <h3 class="message-text" *ngIf="scorecards.length === 0">There are no players on this team yet...</h3>
</div>