.game-display {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "header header header"
        ". center .";
    background-color: var(--secondary);
}

.header-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.dashboard-panel {
    grid-area: center;
}