<div *ngIf="!gameData" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>

<div class="game-display fit-screen" *ngIf="gameData">

    <div class="dashboard-header">

        <img 
            class="dashboard-header-logo" 
            src="/assets/images/cb-logo-blue.svg"
            alt="Classroom Baseball Logo">

        <div>
            <input 
                id="game-name" 
                type="text" 
                [(ngModel)]="nameInput">
            <button 
                type="button" 
                [disabled]="nameInput === '' || nameInput === gameData.name"
                (click)="saveName()">Save</button>
        </div>

        <h1>Date: {{ gameData.date | date:'dd/MM/yyyy' }}</h1>

    </div>

    <div class="dashboard-panel">
        <app-game-leaderboard ></app-game-leaderboard>
    </div>

</div>
