<div *ngIf="!gameData" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>

<div class="game-display fit-screen" *ngIf="gameData">

    <div class="dashboard-header">

        <img 
            class="dashboard-header-logo" 
            src="/assets/images/cb-logo-blue.svg"
            alt="Classroom Baseball Logo">

        <div id="game-name-row" [ngClass]="{ 'editing': isEditingName() }">
            <input 
                type="text" 
                id="game-name" 
                (focus)="setGameNameFocus(true)"
                (blur)="setGameNameFocus(false)"
                [(ngModel)]="nameInputValue">
            <button 
                *ngIf="isEditingName()"
                type="button"
                id="game-name-accept"
                class="icon-button"
                (click)="saveName()">
                <span class="material-symbols-outlined">done</span>
            </button>
        </div>

        <h1>Date: {{ gameData.date | date:'dd/MM/yyyy' }}</h1>

    </div>

    <div class="dashboard-panel scroll-content">
        <app-game-leaderboard ></app-game-leaderboard>
    </div>

</div>
