<ng-container *ngIf="rankedWeekScores.length > 0">
    <app-score-table [rankedScorecards]="rankedWeekScores.slice(0,6)" class="scroll-content"></app-score-table>
    <div id="awards-container">
        <app-team-award *ngFor="let award of awards"
            [title]="award.title"
            [recipient]="award.recipient"></app-team-award>
    </div>
</ng-container>
<ng-container *ngIf="rankedWeekScores.length === 0">
    <h3 class="message-text">There are no scores to display from last week...</h3>
</ng-container>
