.leaderboard {
    display: grid;
    grid-template-columns: auto auto 2rem auto auto;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

.player-rank {
    justify-self: start;
    margin-left: 0.5rem;
    font-family: var(--primary-font-family);
    font-size: 1rem;
}

.player-name {
    justify-self: start;
    font-family: var(--secondary-font-family);
    color: var(--secondary-dark);
    text-transform: uppercase;
}

.base-logo, .strike-logo {
    height: 1.5rem;
    margin: 2px;
    cursor: pointer;
}

.player-bases, .player-strikes {
    display: flex;
    align-items: center;
    justify-self: end;
    margin-right: 0.5rem;
}

.message-text {
    grid-column: 1 / -1;
}

.inactive-logo {
    opacity: 25%;
}

@media (max-width: 950px) {

    .leaderboard {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.125rem;
    }

    .leaderboard * {
        margin: 2px;
    }

}