<div class="leaderboard">
    <div class="grid-line"></div>
    <ng-container *ngFor="let scorecard of rankedScorecards; let i = index">
        <div class="player-rank" [ngStyle]="{ color: getRankColor(i+1) }">{{ i < 10 ? i + 1 : '' }}</div>
        <div class="player-name">{{ scorecard.player.name }}</div>
        <app-player-avatar [name]="scorecard.player.name" [color]="scorecard.player.color" height="1.5rem"></app-player-avatar>
        <div class="player-bases">
            <img 
                *ngFor="let i of [4, 3, 2, 1]"
                class="base-logo"
                [ngClass]="{ 'inactive-logo': i > scorecard.bases }"
                (click)="setBases(scorecard, i)"
                src="/assets/images/ball-icon.svg" 
                alt="Base logo">
        </div>
        <div class="player-strikes">
            <img 
                *ngFor="let i of [3, 2, 1]"
                class="strike-logo"
                [ngClass]="{ 'inactive-logo': i > scorecard.strikes }"
                (click)="setStrikes(scorecard, i)"
                src="/assets/images/strike-icon.svg" 
                alt="Strike logo">
        </div>
        <div class="grid-line"></div>
    </ng-container>
    <div *ngIf="rankedScorecards.length === 0" class="full-row">No players in team!</div>
</div>