.teams-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 1rem;
    margin: 1rem;
}

#create-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0px;
    font-family: var(--primary-font-family);
    font-size: 1.25rem;
}

@media (max-width: 600px) {

    .teams-list-container {
        display: flex;
        flex-direction: column;
    }

}