<div class="teams-list-container">
    <app-team-summary 
        *ngFor="let team of teams"
        (click)="showDashboard(team)" 
        [teamData]="team">
    </app-team-summary>
    <div
        (click)="openForm()" 
        class="summary-container"
        id="create-button">
        <p>+ Create new team</p>
    </div>
</div>
<app-modal 
    *ngIf="isEditing"
    (close)="onCloseModal()"
    title="Edit team">
    <button type="button" class="modal-button" (click)="teamForm.deleteTeam()">
        <span class="material-symbols-outlined">delete</span>
    </button>
    <app-team-form #teamForm></app-team-form>
</app-modal>