<div class="game-list" *ngIf="games && games.length > 0">
    <div class="grid-line"></div>
    <ng-container *ngFor="let game of games; let i = index">
        <div class="game-name" (click)="continueGame(game)">{{ game.name }}</div>
        <div class="game-date" (click)="continueGame(game)">{{ game.date | date:'dd/MM/yyyy' }}</div>
        <div class="grid-line"></div>
    </ng-container>
</div>
<ng-container *ngIf="!games || games.length === 0">
    <h3 class="message-text">There are no games to display yet...</h3>
</ng-container>