#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    background: rgba(0,0,0,0.75);
    z-index: 500;
}
  
#popup-box {
    position: fixed;
    top: 10vh;
    left: 30vw;
    width: calc(40vw - 2rem);
    padding: 1rem;
    z-index: 1000;
    color: var(--secondary-dark);
    background: var(--primary);
    border-radius: 8px 8px 6px 6px;
    box-shadow: var(--shadow);
}
  
#popup-box-actions {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 0.25rem;
}

@media (max-width: 600px) {

    #popup-box {
        left: 10vw;
        width: calc(80vw - 2rem);
    }

}