<div *ngIf="!teamData" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>

<div class="team-dashboard fit-screen" *ngIf="teamData">

    <div class="dashboard-header">
        <div class="header-display">
            <img 
                class="dashboard-header-logo" 
                src="/assets/images/cb-logo-blue.svg"
                alt="Classroom Baseball Logo">
            <button 
                type="button" 
                id="edit-button"
                class="form-button action-button"
                (click)="showEditForm()">
                Edit team
            </button>
        </div>
        <button class="header-button summary-container" type="button" (click)="continueMostRecentGame()">Continue Game</button>
        <button class="header-button summary-container" type="button" (click)="startNewGame()">Start New Game</button>
    </div>

    <div id="dashboard-summary" class="dashboard-panel">
        <h2 (click)="continueMostRecentGame()">Most Recent Game</h2>
        <app-game-summary class="scroll-content"></app-game-summary>
    </div>

    <div id="dashboard-stats" class="dashboard-panel">
        <h2>Last week's stats</h2>
    </div>

    <div id="dashboard-list" class="dashboard-panel">
        <h2>Recent games</h2>
        <app-game-list [games]="teamData.games" class="scroll-content"></app-game-list>
    </div>

</div>

<app-modal 
    *ngIf="isEditing"
    (close)="onCloseModal()"
    title="Edit team">
    <button 
        type="button" 
        class="modal-button" 
        title="Delete team" 
        (click)="teamForm.deleteTeam()">
        <span class="material-symbols-outlined">delete</span>
    </button>
    <app-team-form #teamForm></app-team-form>
</app-modal>