<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<form *ngIf="!isLoading" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-group">
        <input
            class="form-control form-text-input"
            placeholder="Enter email"
            ngModel
            type="email"
            id="email"
            name="email"
            email
            required
        >
        <input
            class="form-control form-text-input"
            placeholder="Enter password"
            ngModel
            type="password"
            id="password"
            name="password"
            required
            minlength="6"
        >
        <button class="form-button" type="submit" [disabled]="!loginForm.valid">Let's go!</button>

    </div>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
</form>