<div class="summary-board">
    <div class="grid-line"></div>
    <ng-container *ngFor="let scorecard of rankedScorecards; let i = index">
        <div class="player-rank" [ngStyle]="{ color: getRankColor(i+1) }">{{ i < 3 ? i + 1 : '' }}</div>
        <div class="player-name">{{ scorecard.player.name }}</div>
        <div class="player-bases">
            <img 
                class="base-logo"
                src="/assets/images/ball-icon.svg" 
                alt="Base logo">
            <div>{{ scorecard.bases }}</div>
        </div>
        <div class="player-strikes">
            <img 
                class="strike-logo"
                src="/assets/images/strike-icon.svg" 
                alt="Strike logo">
            <div>{{ scorecard.strikes }}</div>
        </div>
        <div class="grid-line"></div>
    </ng-container>
</div>
<h3 class="message-text" *ngIf="rankedScorecards.length === 0">There are no scores to display yet...</h3>

