<div *ngIf="!teamData" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>

<div *ngIf="teamData">
    <div id="team-name-row" [ngClass]="{ 'editing': isEditingTeamName() }">
        <input 
            type="text"
            id="team-name" 
            (focus)="setTeamNameFocus(true)"
            (blur)="setTeamNameFocus(false)"
            [(ngModel)]="nameInputValue"
            #teamName>
        <button 
            type="button"
            id="team-name-accept"
            class="icon-button"
            (click)="saveTeamName()">
            <span class="material-symbols-outlined">done</span>
        </button>
    </div>
    
    <!-- Hide logo handling for now ...
    <div class="team-logo-container">
        <label for="image">Logo</label>
        <input 
            type="text" 
            id="image" 
            [(ngModel)]="imageInputValue">
        <button 
            type="button" 
            [disabled]="imageInputValue === teamData.image"
            (click)="saveImage()">Save</button>
    </div>
    -->

    <hr>
    
    <div *ngFor="let player of teamData.players" class="player-row">
        <input type="text" id="player-name" [(ngModel)]="player.name" [disabled]="!isEditingPlayer(player.id)">
        <input type="color" [(ngModel)]="player.color" [disabled]="!isEditingPlayer(player.id)">
        <button
            *ngIf="!isEditingPlayer(player.id)"
            (click)="editPlayer(player)"
            type="button">Edit</button>
        <button
            *ngIf="!isEditingPlayer(player.id)"
            (click)="deletePlayer(player)"
            type="button">Delete</button>
        <button 
            *ngIf="isEditingPlayer(player.id)"
            (click)="saveEditingPlayer()" 
            type="button">Save</button>
    </div>
    
    <button type="button" (click)="addPlayer()">Add new player</button>
    
    <button type="button" (click)="deleteTeam()">Delete team</button>
</div>