<div *ngIf="!teamData" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>

<div *ngIf="teamData">
    <div id="team-name-row" [ngClass]="{ 'editing': isEditingTeamName() }">
        <input 
            type="text"
            id="team-name" 
            (focus)="setTeamNameFocus(true)"
            (blur)="setTeamNameFocus(false)"
            [(ngModel)]="nameInputValue"
            #teamName>
        <button 
            type="button"
            id="team-name-accept"
            class="icon-button"
            (click)="saveTeamName()">
            <span class="material-symbols-outlined">done</span>
        </button>
    </div>
    
    <!-- Hide logo handling for now ...
    <div class="team-logo-container">
        <label for="image">Logo</label>
        <input 
            type="text" 
            id="image" 
            [(ngModel)]="imageInputValue">
        <button 
            type="button" 
            [disabled]="imageInputValue === teamData.image"
            (click)="saveImage()">Save</button>
    </div>
    -->

    <hr>
    
    <div *ngFor="let player of teamData.players" class="player-row" [ngClass]="{ 'editing': isEditingPlayer(player.id) }">
        <input 
            type="text" 
            class="player-name" 
            [(ngModel)]="player.name" 
            (focus)="editPlayer(player)">
        <label 
            class="color-label" 
            (click)="editPlayer(player)"
            [ngStyle]="{ backgroundColor: player.color || '#000000' }">
            <input type="color" [(ngModel)]="player.color">
        </label>
        <button
            *ngIf="!isEditingPlayer(player.id)"
            (click)="deletePlayer(player)"
            class="icon-button"
            type="button">        
            <span class="material-symbols-outlined">delete</span>
        </button>
        <button 
            *ngIf="isEditingPlayer(player.id)"
            (click)="saveEditingPlayer()" 
            class="icon-button"
            type="button">
            <span class="material-symbols-outlined">done</span>
        </button>
    </div>
    
    <button 
        type="button"
        id="add-player"
        class="text-button"
        (click)="addPlayer()">
        + Add another player
    </button>
</div>