<div id="home-display">
    <img 
        id="jumbo-image"
        src="/assets/images/cb-logo-blue.svg"
        alt="Classroom Baseball Logo">
    <button class="form-button" type="button" (click)="onLoginClick()">Log In</button>
    <button class="form-button" type="button" (click)="onRegisterClick()">Sign Up</button>
    <button class="form-button" type="button" (click)="videoDisplay.scrollIntoView({ behavior: 'smooth' })">Learn More</button>
</div>
<div id="video-display" #videoDisplay>
    <div class="video-container">
        <iframe id="intro-video" src="https://www.youtube.com/embed/CtJENJbX5aE" allowfullscreen></iframe>
    </div>
</div>
<app-modal (close)="onCloseModal()" *ngIf="modalContents" [title]="modalContents">
    <app-login *ngIf="modalContents === 'login'"></app-login>
    <app-registration *ngIf="modalContents === 'signup'"></app-registration>
</app-modal>